chainlit==2.11.1
langgraph==1.2.0
langgraph-checkpoint-sqlite==3.1.0
langchain==1.3.1
langchain-openai==0.2.8
langchain-community==0.4.1
langchain-core==1.4.0
langchain-tavily==0.1.3
aiosqlite==0.22.1
python-dotenv==1.2.2
